.formSection {
  grid-column-start: 2;
  grid-column-end: 3;
  & > section {
    padding: 1rem;
  }
  display: grid;
  gap: 1rem;
  h2 {
    margin-bottom: 0px;
  }
  @media (min-width: 320px) {
    & > section {
      border: 1px solid;
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
      border-radius: 8px;
    }
  }
  .container {
    background-color: #f0f8ff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .containerFields {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      div {
        flex-grow: 1;
      }
      .inputCep {
        width: 50rem;
      }
    }
  }
}
